<footer>
    <div class="window" style="width: 166px">
        <div class="title-bar inactive">
            <div class="title-bar-text">FAST! CLICK HERE!</div>
            <div class="title-bar-controls">
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <img src="{{ "/assets/gifs/explode.gif" | relative_url }}" alt="">
        </div>
    </div>

    <div class="window" style="margin: -10px 20px 0 -20px; width: 166px">
        <div class="title-bar inactive">
            <div class="title-bar-text">Miku is in your WiFi!</div>
            <div class="title-bar-controls">
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <img src="{{ "/assets/gifs/miku.gif" | relative_url }}" alt="">
        </div>
    </div>

    <div class="window" style="width: 150px; margin-top: 30px">
        <div class="title-bar inactive">
            <div class="title-bar-text">teto.png</div>
            <div class="title-bar-controls">
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <img src="{{ "/assets/imgs/teto.png" | relative_url }}" alt="" class="spin" style="text-align: center">
        </div>
    </div>

    <div class="window" style="margin: -13px 25px 0; width: 216px">
        <div class="title-bar inactive">
            <div class="title-bar-text">USE FIREFOX!!</div>
            <div class="title-bar-controls">
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <img src="{{ "/assets/gifs/firefox.gif" | relative_url }}" alt="" style="width: 200px">
        </div>
    </div>
</footer>