<footer>
    <div class="window" style="width: 166px">
        <div class="title-bar inactive">
            <div class="title-bar-text">Banners</div>
            <div class="title-bar-controls">
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <img src="{{ "/assets/buttons/miku.gif" | relative_url }}" alt="">
            <img src="{{ "/assets/buttons/explode.gif" | relative_url }}" alt="">
            <img src="{{ "/assets/buttons/firefox.gif" | relative_url }}" alt="" style="width: 150px">
        </div>
    </div>

    <div class="window" style="width: 175px; margin: -10px 0 0 75px">
        <div class="title-bar inactive">
            <div class="title-bar-text">SPINNING TETO!!!</div>
            <div class="title-bar-controls">
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <img src="{{ "/assets/imgs/teto.png" | relative_url }}" alt="" class="spin" style="text-align: center">
        </div>
        <section class="field-row" style="justify-content: center">
            <button>OK?</button>
            <button>Cancel</button>
        </section>
    </div>

    <div class="window" style="width: 104px; margin: -200px 0 0 -25px; overflow: hidden;">
        <div class="title-bar inactive">
            <div class="title-bar-text">Buttons</div>
            <div class="title-bar-controls">
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body" style="overflow: hidden; height: 100%">
            <img src="{{ '/assets/buttons/blasphemy.gif' | relative_url }}" alt="" style="width: 88px">
            <img src="{{ '/assets/buttons/browser.gif' | relative_url }}" alt="">
            <img src="{{ '/assets/buttons/chrome.gif' | relative_url }}" alt="">
            <img src="{{ '/assets/buttons/emulate.gif' | relative_url }}" alt="">
            <img src="{{ '/assets/buttons/linux.gif' | relative_url }}" alt="">
            <img src="{{ '/assets/buttons/miku_approved.gif' | relative_url }}" alt="">
            <img src="{{ '/assets/buttons/resin.png' | relative_url }}" alt="" style="width: 88px">
            <img src="{{ '/assets/buttons/steam.png' | relative_url }}" alt="">
            <img src="{{ '/assets/buttons/armstrong.png' | relative_url }}" alt="">
            <img src="{{ '/assets/buttons/vim.gif' | relative_url }}" alt="">
            <img src="{{ '/assets/buttons/yn4.gif' | relative_url }}" alt="">
            <img src="{{ '/assets/buttons/2hu.gif' | relative_url }}" alt="">
            <img src="{{ '/assets/buttons/plasticlove.gif' | relative_url }}" alt="">
            <img src="{{ '/assets/buttons/akane.png' | relative_url }}" alt="">
            <img src="{{ '/assets/buttons/chocomint.png' | relative_url }}" alt="">
            <img src="{{ '/assets/buttons/fukkireta.gif' | relative_url }}" alt="">
            <img src="{{ '/assets/buttons/graphicdesign.png' | relative_url }}" alt="">
            <img src="{{ '/assets/buttons/html5.png' | relative_url }}" alt="">
        </div>
    </div>
</footer>