<footer>
    <div class="window" style="width: 266px">
        <div class="title-bar inactive">
            <div class="title-bar-text">madotsuki-sleeping.gif</div>
            <div class="title-bar-controls">
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <img src="{{ "/assets/gifs/madotsuki-sleeping.gif" | relative_url }}" alt="">
        </div>
    </div>

    <div class="window" style="width: 316px">
        <div class="title-bar inactive">
            <div class="title-bar-text">Buy the Dragon Book!</div>
            <div class="title-bar-controls">
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <img src="{{ "/assets/imgs/tohru-dragon-book.png" | relative_url }}" alt="" style="width: 300px">
        </div>
    </div>

    <div class="window" style="width: 115px">
        <div class="title-bar inactive">
            <div class="title-bar-text">Stamps</div>
            <div class="title-bar-controls">
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <img src="{{ "/assets/buttons/gb.gif" | relative_url }}" alt="">
            <img src="{{ "/assets/buttons/miku2.gif" | relative_url }}" alt="">
            <img src="{{ "/assets/buttons/missing.png" | relative_url }}" alt="">
            <img src="{{ "/assets/buttons/toofunny.jpg" | relative_url }}" alt="">
        </div>
    </div>
</footer>