<aside>
    <ul class="tree-view">
        <li>
            <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
            <ul>
                {% assign default_paths = site.pages | map: "path" %}
                {% assign page_paths = site.header_pages | default: default_paths %}
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.header == true %}
                        <li>
                            {% if my_page.category == "shrine" %}
                                <details>
                                    <summary>
                                        <a href="{{ my_page.url | relative_url }}"> {{ my_page.title | escape }}</a>
                                    </summary>
                                    <ul>
                                        {% assign posts = site.entries %}
                                        {% for subpage in posts %}
                                            {% if subpage.category == my_page.category %}
                                                <li>
                                                    <a href="{{ subpage.url | relative_url }}">{{ subpage.title | escape }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </details>
                            {% else %}
                                <a href="{{ my_page.url | relative_url }}"> {{ my_page.title | escape }}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        <li>
            <details open>
                <summary>Socials</summary>
                <ul>
                    <li><a class="u-email" href="mailto:{{ site.email }}">E-Mail</a></li>
                    <li><a href="https://github.com/{{ site.github_username | cgi_escape | escape }}"><span
                                    class="username">GitHub</span></a></li>
                    <li><a href="https://instagram.com/{{ site.instagram_username | cgi_escape | escape }}"><span
                                    class="username">Instagram</span></a></li>
                    <li><a href="https://open.spotify.com/user/{{ site.spotify_username | cgi_escape | escape }}"><span
                                    class="username">Spotify</span></a></li>
                </ul>
            </details>
        </li>
        <li>
            <details open>
                <summary>Gensoukyou Webring</summary>
                <ul>
                    <li><a href=""></a></li>
                </ul>
            </details>
        </li>
        <li><a href="https://zetsuboushii.github.io/tome-of-the-vastlands"><span>Tome of the Vastlands</span></a></li>
        <li><a href="{{ 'feed.xml' | relative_url }}"><span>RSS Feed</span></a></li>
    </ul>


    <fieldset style="width: 288px">
        <legend>Guestbook</legend>

        <div class="field-row">
            <form id="guestbook-form"
                  action="https://api.staticman.net/v3/entry/zetsuboushii/zetsuboushii.github.io/main/guestbook"
                  method="POST"
                  style="width: 312px">
                <label for="name">Name:</label><br>
                <input type="text" name="name" id="name" required>
                <br>
                <label for="message">Nachricht:</label><br>
                <textarea name="message" id="message" required style=""></textarea>
                <input type="hidden" name="date" value="{{ 'now' | date: '%Y-%m-%dT%H:%M:%S%z' }}">
                <br>
                <button type="submit">Eintrag hinzufügen</button>
            </form>
        </div>
    </fieldset>
</aside>

<script>
    document.getElementById('guestbook-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const name = document.getElementById('name').value;
        const message = document.getElementById('message').value;

        const response = await fetch('https://api.github.com/repos/zetsuboushii/zetsuboushii.github.io/dispatches', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `token YOUR_PERSONAL_ACCESS_TOKEN`,
            },
            body: JSON.stringify({
                event_type: 'new_guestbook_entry',
                client_payload: {
                    name: name,
                    message: message,
                },
            }),
        });

        if (response.ok) {
            alert('Eintrag erfolgreich hinzugefügt!');
        } else {
            alert('Fehler beim Hinzufügen des Eintrags.');
        }
    });
</script>
