{% assign current_title = include.title %}
{% assign current_count = include.count %}

<li style="margin-top: 0">
    <img src="{{ '/assets/imgs/anno/icon_' | append: include.ay | append: current_title | append: '.jpg' | downcase | relative_url }}"
         alt="">
    {{ current_title }} {% if current_count %}({{ current_count }}){% endif %}

    {% assign current_page = site.entries | where: "title", current_title | first %}
    {% if current_page.depends_on and current_page.depends_on.size > 0 and current_page.path contains include.ay %}
        {% for dependency in current_page.depends_on %}
            <ul style="margin-top: 0">
                {% assign dep_title = dependency[0] %}
                {% assign dep_count = dependency[1] %}
                {% include resolve-anno-dependencies.html title=dep_title count=dep_count ay=ay %}
            </ul>
        {% endfor %}
    {% endif %}
</li>