.about-container {
  margin: 20px auto 0 auto;
  display: grid;
  grid-template-areas: "head ad" "main ad";
  grid-template-columns: 4fr 1fr;
  gap: 10px; }
  .about-container .about-head {
    grid-area: head;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px; }
  .about-container .about-main {
    grid-area: main;
    /*
    @media only screen and (max-width: 1300px) {
      .about-body {
        display: initial;
      }
    }
     */ }
    .about-container .about-main .about-body {
      display: grid;
      grid-template-areas: "left right";
      grid-template-columns: 3fr 1fr;
      gap: 10px; }
      @media only screen and (max-width: 1300px) {
        .about-container .about-main .about-body {
          grid-template-columns: 1fr 0fr; } }
      .about-container .about-main .about-body .about-body-left {
        grid-area: left;
        max-height: 668px;
        overflow-y: scroll; }
        .about-container .about-main .about-body .about-body-left .about-body-left-text img {
          max-height: 150px;
          float: left;
          border: 1px solid black;
          margin-right: 15px; }
        .about-container .about-main .about-body .about-body-left .about-body-left-text h4 {
          margin-bottom: 5px; }
        .about-container .about-main .about-body .about-body-left .about-body-left-text h5 {
          clear: both;
          color: red; }
        .about-container .about-main .about-body .about-body-left .about-body-left-text p {
          font-size: 14px;
          text-align: justify; }
        .about-container .about-main .about-body .about-body-left .about-body-left-fav-chars {
          background-image: url("../ui/bkg-wall.png");
          border: outset 3px #b8b8b8;
          justify-items: center;
          max-width: 600px;
          padding: 10px 0;
          margin: 0 auto;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 10px; }
          .about-container .about-main .about-body .about-body-left .about-body-left-fav-chars img {
            max-height: 150px;
            border: 5px outset #797979; }
        .about-container .about-main .about-body .about-body-left .about-body-left-fav-films {
          background-image: url("../ui/bkg-wall.png");
          border: outset 3px #b8b8b8;
          justify-items: center;
          max-width: 600px;
          padding: 10px 0;
          margin: 0 auto;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 10px; }
          .about-container .about-main .about-body .about-body-left .about-body-left-fav-films img {
            max-height: 250px;
            border: 5px outset #797979; }
        @media only screen and (max-width: 1300px) {
          .about-container .about-main .about-body .about-body-left .about-body-left-fav-chars {
            background-image: url("../ui/bkg-wall.png");
            border: outset 3px #b8b8b8;
            justify-items: center;
            max-width: 600px;
            padding: 10px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            /* dynamisches Grid */
            gap: 10px; }
            .about-container .about-main .about-body .about-body-left .about-body-left-fav-chars img {
              width: 100%;
              height: auto;
              max-height: 150px;
              border: 5px outset #797979;
              object-fit: contain; }
          .about-container .about-main .about-body .about-body-left .about-body-left-fav-films {
            background-image: url("../ui/bkg-wall.png");
            border: outset 3px #b8b8b8;
            justify-items: center;
            max-width: 600px;
            padding: 10px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
            /* responsive */
            gap: 10px; }
            .about-container .about-main .about-body .about-body-left .about-body-left-fav-films img {
              width: 100%;
              height: auto;
              max-height: 250px;
              border: 5px outset #797979;
              object-fit: contain; } }
      .about-container .about-main .about-body .about-body-right {
        grid-area: right; }
      @media only screen and (max-width: 1300px) {
        .about-container .about-main .about-body .about-body-right {
          display: none; } }
  .about-container .about-ad {
    grid-area: ad; }

/*
@media only screen and (max-width: 1300px) {
  .about-container {
    display: initial;
  }
}
*/
.title-bar-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-20px); } }
@keyframes pend {
  0% {
    transform: translateX(-50px); }
  50% {
    transform: translateX(50px); }
  100% {
    transform: translateX(-50px); } }

/*# sourceMappingURL=about.css.map */
