html, body {
  min-width: 1000px;
  overflow-x: auto;
  overflow-y: auto;
}

@media (min-width: 1000px) {
  html, body {
    overflow-y: hidden;
  }
}

.about-container {
  width: 1000px;
  margin: 20px auto 0;
  display: grid;
  grid-template-areas:
    "head ad"
    "main ad";
  grid-template-columns: 800px 200px;
  gap: 10px;

  .about-head {
    grid-area: head;
    display: grid;
    grid-template-columns: 800px 200px;
    gap: 10px;
  }

  .about-main {
    grid-area: main;

    .about-body {
      display: grid;
      grid-template-areas: "left right";
      grid-template-columns: 600px 168px;
      gap: 10px;

      .about-body-left {
        grid-area: left;
        max-height: 668px;
        overflow-y: scroll;

        .about-body-left-text {
          img {
            max-height: 150px;
            float: left;
            border: 1px solid black;
            margin-right: 15px;
          }

          h4 {
            margin-bottom: 5px;
          }

          h5 {
            clear: both;
            color: red;
          }

          p {
            font-size: 14px;
            text-align: justify;
          }
        }

        .about-body-left-fav-chars,
        .about-body-left-fav-films {
          background-image: url("../ui/bkg-wall.png");
          border: outset 3px rgb(184, 184, 184);
          justify-items: center;
          max-width: 600px;
          padding: 10px 0;
          margin: 0 auto;
          display: grid;
          gap: 10px;
        }

        .about-body-left-fav-chars {
          grid-template-columns: 1fr 1fr 1fr;

          img {
            max-height: 150px;
            border: 5px outset rgb(121, 121, 121);
          }
        }

        .about-body-left-fav-films {
          grid-template-columns: 1fr 1fr;

          img {
            max-height: 250px;
            border: 5px outset rgb(121, 121, 121);
          }
        }
      }

      .about-body-right {
        grid-area: right;
      }
    }
  }

  .about-ad {
    grid-area: ad;
  }
}

.title-bar-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes pend {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-50px);
  }
}