// 1. Ganz oben in deiner SCSS (global)
html, body {
  min-width: 1200px;
  overflow-x: auto;
  overflow-y: auto;
}

.home-container {
  display: grid;
  width: 984px;
  grid-template-areas: "left right";
  grid-template-columns: 200px 784px;
  gap: 8px;
  align-items: start;
}

.home-right {
  padding: 10px;
  grid-area: right;

  .home-main {
    display: grid;
    width: 764px;
    grid-template-areas: "left right";
    grid-template-columns: 492px 264px;
    gap: 8px;
    align-items: start;

    p {
      font-size: 14px;
      text-align: justify;
    }

    input {
      margin-bottom: 5px;
      width: 100%;
    }

    .home-main-left {
      grid-area: left;
    }

    .home-main-right {
      grid-area: right;
      align-content: center;
    }
  }
}

.home-left {
  grid-area: left;
  align-content: center;
  text-align: center;

  .home-left-element {
    margin: auto;
    text-align: left;
  }
}