@charset "utf-8";

/* Font-face definition */
@font-face {
  font-family: 'GBFont';
  src: url('fonts/nds-true-bios.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Default variable definitions */
$base-font-family: "GBFont" !default;
$base-font-size: 28px !default;
$base-font-weight: 800 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;
$text-color: #a9a77f !default;
$text-shadow-color: #3f4900 !default;
$background-color: #1a1b00 !default;
$backdrop-color: #74783f !default;

$brand-color: $text-color !default;
$grey-color: $text-color !default;
$grey-color-light: $text-color !default;
$grey-color-dark: $text-color !default;

$table-text-align: left !default;
$content-width: 800px !default;

/* Breakpoints for responsive design */
$on-palm: 600px !default;
$on-laptop: 800px !default;

/* Mixin for media queries */
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

/* Mixin for relative font size */
@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

/* Importing partial SCSS files */
@import "minima/base", "minima/layout", "minima/syntax-highlighting";
