<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ g.site_title | upper }} | ABOUT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/98.css') }}">
    {% include "includes.html" %}
</head>
<body>
<div class="page-containter">
    <div class="page about-container">
        <div class="window about-main">
            <div class="title-bar">
                <div class="title-bar-text">About Zetsu...</div>
                <div class="title-bar-controls">
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="window-body about-body">
                <div class="about-body-left sunken-panel"
                     style="padding: 10px; background-image: url('../static/ui/bkg-paper.gif'); font-family: Serif;">
                    <div style="text-align: center">
                        <img src="{{ url_for('static', filename='gifs/zetsu.gif') }}" alt=""
                             style="height: 100px; animation: pend 5s infinite ease-in-out; float: unset; border: none">
                    </div>
                    <hr>
                    <div class="about-body-left-text">
                        {{ intro | safe }}
                    </div>
                    <hr>
                    <div class="about-body-left-text">
                        {{ interests | safe }}
                    </div>
                    <hr>
                    <div class="about-body-left-text">
                        {{ favs.fav_characters.text | safe }}
                    </div>
                    <div class="about-body-left-fav-chars">
                        {% for char in favs.fav_characters.characters %}
                            <img src="{{ url_for('static', filename='imgs/fav-' + (char.name | replace(' ', '-') | lower) + '.png') }}"
                                 alt="" title="{{ char.name }} ({{ char.source }})">
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="about-body-left-text">
                        {{ favourites | safe }}

                        <script>
                            document.querySelectorAll("code").forEach(codeElement => {
                                codeElement.style.color = codeElement.textContent.trim();
                            });
                        </script>
                    </div>
                </div>
                <div class="about-body-right" style="text-align: center;">
                    <img src="{{ url_for('static', filename='imgs/scarlet.png') }}" alt=""
                         style="max-width: 250px; animation: bounce 3s infinite ease-in-out;">
                    <iframe style="border-radius:12px; margin-top: 10px; transform: scale(0.8);"
                            src="https://open.spotify.com/embed/track/5IhBnHhlEREWojcDzrMSnz?utm_source=generator"
                            width="100%" height="352" frameBorder="0" allowfullscreen=""
                            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                            loading="lazy"></iframe>
                </div>
            </div>
            <div class="status-bar">
                <p class="status-bar-field">Press Alt+f4 for help</p>
                <p class="status-bar-field">Homepage</p>
                <p class="status-bar-field">CPU Usage: 42%</p>
            </div>
        </div>
        <div class="about-head">
            <div class="window">
                <div class="title-bar">
                    <div class="title-bar-text">新しい Microsoft Windows 98 を入手する</div>
                    <div class="title-bar-controls">
                        <button aria-label="Close"></button>
                    </div>
                </div>
                <div class="window-body" style="height: 91%">
                    <div class="sunken-panel">
                        <img src="{{ url_for('static', filename='ui/banner-windows.gif') }}" alt=""
                             style="width: 100%; display: block; object-fit: cover">
                    </div>
                </div>
            </div>

            <div class="window">
                <div class="title-bar">
                    <div class="title-bar-text">Links</div>
                    <div class="title-bar-controls">
                        <button aria-label="Close"></button>
                    </div>
                </div>
                <div class="window-body">
                    <ul class="tree-view home-left-element" style="text-align: left">
                        <li><a href="{{ url_for('index') }}">Homepage</a></li>
                        <li><a href="https://open.spotify.com/user/fefuqa5sxojouw2paqibdy5wi">Spotify</a></li>
                        <li><a href="https://www.instagram.com/zetsuboushii">Instagram</a></li>
                        <li><a href="https://discordapp.com/users/406094506509991936">Discord</a></li>
                        <li><a href="https://myanimelist.net/animelist/Zetsuboushi">MyAnimeList</a></li>
                        <li><a href="https://steamcommunity.com/id/zetsuboushii/">Steam</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="window about-ad">
            <div class="title-bar">
                <div class="title-bar-text">Image by Tokyo Gensou</div>
                <div class="title-bar-controls">
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="window-body" style="height: 98%">
                <div class="sunken-panel" style="height: 98%">
                    <img src="{{ url_for('static', filename='imgs/akihabara.jpg') }}" alt=""
                         style="height: 100%; width: 100%; display: block; object-fit: cover">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
