<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ g.site_title | upper }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/98.css') }}">
    {% include "includes.html" %}
</head>
<body>
<div class="page-containter">
    <div class="page">
        <div class="hide-on-mobile" style="text-align: center; margin: 10px 0 10px 0">
            <img src="{{ url_for('static', filename='ui/banner-lain.gif')}}" alt="" style="height: 70px">
            <img src="{{ url_for('static', filename='ui/banner-higu.jpg')}}" alt="" style="height: 70px">
        </div>
        <div class="window" style="max-width: 1000px; margin: 0 auto 0 auto">
            <div class="title-bar">
                <div class="title-bar-text">ZetsuNET | ゼツ・ネット</div>
                <div class="title-bar-controls">
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="window-body home-container">
                <div class="home-left hide-on-mobile">
                    <div class="sunken-panel home-left-element" style="width: 200px; height: 200px; overflow: hidden">
                        <img src="https://avatars.githubusercontent.com/u/65507051?v=4" alt="" style="max-width: 200px">
                    </div>
                    <h4>Navigation</h4>
                    {% include "nav.html" %}
                </div>
                <div class="home-right">
                    <div class="hide-on-mobile" style="text-align: center">
                        <img src="{{ url_for('static', filename='ui/banner-construction.gif')}}" alt="">
                    </div>
                    <div class="home-main" style="margin-bottom: 10px">
                        <div class="home-main-left sunken-panel" style="padding: 10px">
                            <div style="text-align: center">
                                <img src="{{ url_for('static', filename='gifs/welcome.gif')}}" alt="" style="height: 100px">
                            </div>
                            <hr>
                            {{ content | safe }}
                        </div>
                        <div class="home-main-right">
                            <div class="window">
                                <div class="title-bar">
                                    <div class="title-bar-text">げんきですか？</div>
                                    <div class="title-bar-controls">
                                        <button aria-label="Close"></button>
                                    </div>
                                </div>
                                <div class="window-body">
                                    <label for="feeling"><b>feeling</b></label><br>
                                    <input id="feeling" type="text" value="{{ home.genki.feeling }}"/>
                                    <label for="doing"><b>currently doing</b></label><br>
                                    <input id="doing" type="text" value="{{ home.genki.currently_doing }}"/>
                                    <label for="listening"><b>currently listening to</b></label><br>
                                    <input id="listening" type="text" value="{{ home.genki.currently_listening_to }}"/>
                                    <label for="playing"><b>currently playing</b></label><br>
                                    <input id="playing" type="text" value="{{ home.genki.currently_playing }}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <marquee behavior="scroll" direction="left" scrollamount="9">
                        <img src="{{ url_for('static', filename='ui/button-2hu.gif')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-akane.png')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-armstrong.png')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-bestview.gif')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-blasphemy.gif')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-browser.gif')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-chocomint.png')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-chrome.gif')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-emulate.gif')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-fukkireta.gif')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-graphicdesign.png')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-html5.png')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-linux.gif')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-miku-approved.gif')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-n64link.gif')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-plasticlove.gif')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-resin.png')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-starjewel.gif')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-steam.png')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-tf.gif')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-top25.gif')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-ublock-now.png')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-vim.gif')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-vocaloid.png')}}" alt="">
                        <img src="{{ url_for('static', filename='ui/button-yn4.gif')}}" alt="">
                    </marquee>

                    <div class="show-on-mobile" style="text-align: center">
                        <br>
                        <div class="sunken-panel home-left-element"
                             style="width: 200px; height: 200px; overflow: hidden; margin: 0 auto 0 auto">
                            <img src="https://avatars.githubusercontent.com/u/65507051?v=4" alt=""
                                 style="max-width: 200px">
                        </div>
                        <h4>Navigation</h4>
                        {% include "nav.html" %}
                    </div>
                </div>
            </div>
            <div class="status-bar">
                <p class="status-bar-field">Press Alt+f4 for help</p>
                <p class="status-bar-field">Homepage</p>
                <p class="status-bar-field">CPU Usage: 42%</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
