<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ g.site_title | upper }}</title>
    <link rel="stylesheet" href="{{ g.static }}/css/XP.css"/>
    <link rel="stylesheet" href="{{ g.static }}/css/base.css"/>
    <link rel="stylesheet" href="{{ g.static }}/css/japan.css"/>
    <script src="{{ g.static }}/js/windowListener.js"></script>
</head>
<body style="background-image: url('{{ g.static }}/ui/autumn.jpg'); background-size: cover;">
<div class="page-containter">
    <div class="page japan-container">
        <div class="window japan-main">
            <div class="title-bar">
                <div class="title-bar-text">Command Prompt</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="window-body">
<pre style="white-space: pre-wrap; word-wrap: break-word; max-height: 600px; overflow-y: scroll">Zetsu&#10094;R&#10095; ZetsuNET DOS
&#10094;C&#10095; Copyright Zetsu 2025.
<br>C:\ZETSUOS\SYSTEM32> Hier trage ich meine Erlebnisse meiner dritten großen Reise nach Japan zusammen.
{% include "blog-entry.html" %}
</pre>
            </div>
        </div>
        <div class="window japan-links">
            <div class="title-bar">
                <div class="title-bar-text">Links</div>
                <div class="title-bar-controls">
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="window-body">
                {% include "nav.html" %}
            </div>
        </div>
        <div class="window japan-ad-left">
            <div class="title-bar">
                <div class="title-bar-text">Ad</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="window-body">

            </div>
        </div>
        <div class="window japan-head">
            <div class="title-bar">
                <div class="title-bar-text">Head</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="window-body">
                <div class="sunken-panel">
                    <img src="{{ g.static }}/ui/banner-japan-books.gif" alt=""
                         style="width: 100%; display: block; object-fit: cover">
                </div>
            </div>
        </div>
        <div class="window japan-ad-right">
            <div class="title-bar">
                <div class="title-bar-text">Ad</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="window-body">

            </div>
        </div>
    </div>
</div>
</body>
</html>
