<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ g.site_title | upper }} | MUSIC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/98.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/music.css') }}">
    {% include "includes.html" %}
</head>

<body style="background-image: url('{{ g.static }}ui/bkg-autumn.jpg'); background-size: cover;">
<div class="page-containter">
    <div class="page music-container">
        <div class="window music-main">
            <div class="title-bar">
                <div class="title-bar-text">Something for thine ears</div>
                <div class="title-bar-controls">
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="window-body music-body">
                <div style="display: grid; grid-template-columns: 1fr 4fr 1fr; text-align: center">
                    <img src="{{ url_for('static', filename='gifs/HOT.gif') }}" alt=""
                         style="margin: auto 0 auto 0; float: unset; border: none">
                    <h2 style="margin: 0">音楽</h2>
                    <img src="{{ url_for('static', filename='gifs/HOT.gif') }}" alt=""
                         style="margin: auto 0 auto 0; float: unset; border: none">
                </div>
                <div class="sunken-panel"
                     style="padding: 10px; background-image: url('../static/ui/bkg-paper.gif'); font-family: Serif;">
                    {{ intro | safe }}
                </div>


                <div class="music-content" style="margin-top: 10px">
                    <div class="window">
                        <div class="title-bar">
                            <div class="title-bar-text">Lyrics</div>
                            <div class="title-bar-controls">
                                <button aria-label="Close"></button>
                            </div>
                        </div>
                        <div class="window-body">
                            <div class="sunken-panel music-body-left"
                                 style="padding: 10px; height: 500px; background-image: url('../static/ui/bkg-paper.gif'); font-family: Serif;">
                                {% for lyric in lyrics %}
                                    <h4>{{ lyric.title }}</h4>
                                    {{ lyric.artist }}
                                    <div style="max-height: 250px; overflow: auto; scrollbar-width: none">
                                        <table style="width: 100%">
                                            <thead>
                                            <tr>
                                                {% for lang in lyric.languages %}
                                                    <th>{{ lang }}</th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for line in lyric.lyrics %}
                                                <tr>
                                                    {% for i in range(lyric.languages | length) %}
                                                        <td>{{ line[i] }}</td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="music-body-right">
                        <div class="window">
                            <div class="title-bar">
                                <div class="title-bar-text">Aktuelle Premium Empfehlung des Hauses</div>
                                <div class="title-bar-controls">
                                    <button aria-label="Close"></button>
                                </div>
                            </div>
                            <div class="window-body">
                                <div class="sunken-panel music-body-left"
                                     style="background-image: url('../static/ui/bkg-paper.gif'); font-family: Serif;">
                                    <iframe
                                    style="text-align: center; width: 100%; height: 181px"
                                    src="https://www.youtube.com/embed/cF4QpfW_zKg?si=J8K7MpYGEU9OPdX8"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                        <!--
                        <section class="tabs" style="padding-top: 10px">
                            <menu role="tablist" aria-label="Sample Tabs">
                                <button role="tab" aria-selected="true" aria-controls="tab-A">Daily</button>
                            </menu>

                            <article role="tabpanel" id="tab-A">
                                {{ playlists.daily | safe }}
                            </article>
                        </section>
                        -->
                    </div>
                </div>

            </div>
            <div class="status-bar">
                <p class="status-bar-field">Press Alt+f4 for help</p>
                <p class="status-bar-field">Commit Hash: {{ g.git_hash }}</p>
                <p class="status-bar-field">Site Version: {{ g.version }}</p>
            </div>
        </div>
        <div class="music-head">
            <div class="window">
                <div class="title-bar">
                    <div class="title-bar-text">Window Top</div>
                    <div class="title-bar-controls">
                        <button aria-label="Close"></button>
                    </div>
                </div>
                <div class="window-body" style="text-align: center">
                    <img src="{{ url_for('static', filename='ui/banner-construction.gif') }}" alt="">
                </div>
            </div>
            <div class="window" style="width: 184px;">
                <div class="title-bar">
                    <div class="title-bar-text">Back Home?</div>
                    <div class="title-bar-controls">
                        <button aria-label="Close"></button>
                    </div>
                </div>
                <div class="window-body" style="text-align: center">
                    <a href="{{ url_for('index') }}">
                        <img src="{{ url_for('static', filename='gifs/kirbybop.gif') }}" alt=""
                             style="max-width: 250px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="window music-ad" style="height: 547px;">
            <div class="title-bar">
                <div class="title-bar-text">Image by Tokyo Gensou</div>
                <div class="title-bar-controls">
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="window-body">
                <div class="sunken-panel" style="height: 90%; overflow: hidden">
                    <img src="{{ url_for('static', filename='imgs/akihabara.jpg') }}" alt=""
                         style="height: 100%; width: 100%; display: block; object-fit: cover">
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>

<script>

</script>