<ul class="tree-view home-left-element" style="text-align: left">
    <li><a href="{{ url_for('index') }}">ZetsuNET</a>
        <ul>
            <li><a href="{{ url_for('about') }}">Webmaster</a></li>
            <li>Videogames
                <ul>
                    <li><a href="{{ url_for('collection') }}">Collection</a></li>
                    <li><a href="{{ url_for('gamelog') }}">Gamelog</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('japan') }}">Japan Adventures</a></li>
            <li><a href="{{ url_for('music') }}">Music</a></li>
            <li>Shrines</li>
        </ul>
    </li>
</ul>