---
layout: default
---

<div style="text-align: center; margin-bottom: 10px">
    <img src="{{ "/assets/gifs/const001.gif" | relative_url }}" alt="">
</div>

<menu role="tablist" id="tablist" style="margin-top: 20px">
    {% assign entries = site.entries | where: "category", "anno" | sort: "release" %}
    {% for entry in entries %}
        {% assign filename = entry.path | split: '/' | last %}
        {% assign basename = filename | split: '.' | first %}
        <li role="tab" aria-selected="{{ forloop.first }}" data-tab="{{ basename }}">{{ entry.title }}</li>
    {% endfor %}
</menu>
<div class="window tabpanel-container">
    {% assign entries = site.entries | where: "category", "anno" | sort: "release" %}
    {% for entry in entries %}
        {% assign filename = entry.path | split: '/' | last %}
        {% assign basename = filename | split: '.' | first %}
        {% assign ay = basename | split: "-" | last %}
        <div id="{{ basename }}" class="window-body tabpanel" role="tabpanel"
             aria-hidden="{% if forloop.first %}false{% else %}true{% endif %}">
            <h4>{{ entry.title }}</h4>
            <p>{{ entry.content }}</p>
            <hr>
            <h4>Produktionsketten</h4>
            {% assign prods = site.entries | where: "category", "anno_prod" %}
            {% for prod in prods %}
                {% if prod.path contains ay and prod.main_building %}
                    {% assign dependencies_array = "" %}
                    <fieldset>
                        <legend>{{ prod.prod }}</legend>
                    <ul class="tree-view">
                        {% include resolve-anno-dependencies.html title=prod.title dependencies=dependencies_array ay=ay %}
                    </ul>
                    </fieldset>
                {% endif %}
            {% endfor %}

            <!-- shidd
            {% assign prods = site.entries | where: "category", "anno_p" | where: "ay", ay %}
            {% for p in prods %}
                {% assign content = p.content %}

                {% capture bä %}{% include anno-product-build.html name="bäckerei" ay=ay %}{% endcapture %}
                {% capture gt %}{% include anno-product-build.html name="getreidefarm" ay=ay %}{% endcapture %}
                {% capture gf %}{% include anno-product-build.html name="getreidefeld" ay=ay %}{% endcapture %}
                {% capture gm %}{% include anno-product-build.html name="getreidemühle" ay=ay %}{% endcapture %}

                {% assign content = p | replace: "gf", gf %}
                {% assign content = p | replace: "gt", gt %}
                {% assign content = p | replace: "gm", gm %}

                {{ p.content }}
            {% endfor %}
            -->
        </div>
    {% endfor %}
</div>

<script src="{{ '/assets/js/menu-tabs.js' | relative_url }}"></script>