---
layout: default
---

<menu role="tablist" id="tablist" style="margin-top: 20px">
    <li role="tab" aria-selected="true" data-tab="main">Collection</li>
    {% assign collection_entries = site.entries | where: "category", "collection" | sort: "release" %}
    {% for entry in collection_entries %}
        {% assign filename = entry.path | split: '/' | last %}
        {% assign basename = filename | split: '.' | first %}
        <li role="tab" aria-selected="false" data-tab="{{ basename }}">{{ entry.title }}</li>
    {% endfor %}
</menu>
<div class="window tabpanel-container">
    <div id="main" class="window-body tabpanel" role="tabpanel" aria-hidden="false">
        {% assign parts = content | split: '<!--more-->' %}
        {{ parts[0] }}
        <hr>
        <fieldset>
            <legend>Wunschliste</legend>
            {{ parts[1] }}
        </fieldset>
    </div>
    {% assign collection_entries = site.entries | where: "category", "collection" | sort: "release" %}
    {% for entry in collection_entries %}
        {% assign filename = entry.path | split: '/' | last %}
        {% assign basename = filename | split: '.' | first %}
        {% assign parts = entry.content | split: '<!--more-->' %}
        <div id="{{ basename }}" class="window-body tabpanel" role="tabpanel" aria-hidden="true">
            <img src="{{ '/assets/imgs/collection/' | append: basename | append: '.png' | relative_url }}" alt=""
                 style="max-width: 300px; float: left; margin-right: 10px; margin-bottom: 10px;">
            <h4>{{ entry.title }}</h4>
            <p>{{ parts[0] }} - <i>Wikipedia</i></p>
            <hr>
            <p>{{ parts[1] }}</p>
            {% if entry.games_owned %}
                <fieldset>
                    <legend>Spiele in meinem Besitz</legend>
                    <ul>
                        {% for game in entry.games_owned %}
                            <li>{{ game }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
            {% endif %}
            {% if entry.peripherals_owned %}
                <fieldset>
                    <legend>Peripherie in meinem Besitz</legend>
                    <ul>
                        {% for peripheral in entry.peripherals_owned %}
                            <li>{{ peripheral }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
            {% endif %}
        </div>
    {% endfor %}
</div>

<script src="{{ '/assets/js/menu-tabs.js' | relative_url }}"></script>