---
layout: default
---
<article class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <div class="post-content">
        {{ content }}
    </div>

    <table>
        <tr>
            <th>Episode</th>
            <th>Name</th>
            <th>Abriss</th>
            <th>Score</th>
        </tr>
        {% assign conan_posts = site.conan | where: "category", "Conan" %}
        {% for post in conan_posts %}
        <tr>
            <td style="width: 125px">
                Episode {{ post.ep }}
                {% if post.to %}
                {% assign start = post.ep | plus: 1 %}
                {% for counter in (start..post.to) %}
                <br>Episode {{ counter }}
                {% endfor %}
                {% endif %}
            </td>
            <td><a href="{{ post.url | relative_url }}">{{ post.title }}</a></td>
            <td style="width: 350px; text-align: justify;">{{ post.summary }}</td>
            <td style="width: 55px; text-align: center;">{{ post.judgement | escape }} / 10</td>
        </tr>
        {% endfor %}
    </table>
</article>