---
layout: default
---
<article class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <div class="post-content">
        {{ content }}
    </div>

    <table>
        <tr>
            <th>Nummer</th>
            <th>Bild</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
        {% assign conan_posts = site.conan | where: "category", "Conan" %}
        {% for post in conan_posts %}
        <tr>
            <td><a href="{{ post.url | relative_url }}">Episode {{ post.ep }}</a></td>
            <td style="width: 250px"><a href="{{ post.url | relative_url }}"><img src="https://conanwiki.org/images/thumb/a/a1/Episode_{{ post.ep }}.png/800px-Episode_{{ post.ep }}.png?20210315154154" style="width: 250px"></a></td>
            <td><a href="{{ post.url | relative_url }}">{{ post.title }}</a></td>
            <td style="text-align: center;">{{ post.judgement | escape }} / 10</td>
        </tr>
        {% endfor %}
    </table>
</article>