<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " de" }}">

{%- include head.html -%}

<body>

<div class="body-flex">
    {% include ads-left.html %}

    {% include main-window.html %}

    {% include ads-right.html %}
</div>

</body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const closeButtons = document.querySelectorAll('.title-bar-controls button[aria-label="Close"]');

        closeButtons.forEach((button) => {
            button.addEventListener("click", (event) => {
                const windowElement = button.closest('.window');
                if (windowElement) {
                    windowElement.style.visibility = 'hidden';
                }
            });
        });
    });
</script>