---
layout: default
---
<article class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <div class="post-content">
        {{ content }}
    </div>

    <table>
        <tr>
            <th>Title</th>
            <th>Platform</th>
            <th>Finished</th>
        </tr>
        {% assign games_posts = site.posts | where: "category", "Games" | sort: "date" %}
        {% for post in games_posts %}
        <tr>
            <td><a href="{{ post.url | relative_url }}">{{ post.title }}</a></td>
            <td>{{ post.platform }}</td>
            <td>{{ post.date | date: "%d.%m.%Y" }}</td>
        </tr>
        {% endfor %}
    </table>


</article>
