---
layout: default
---

{{ content }}

{% assign games_finished = site.data.games.games | sort: "title" | where: "finished", true %}
{% assign games_planned = site.data.games.games | sort: "title" | where: "finished", false %}


<menu role="tablist" id="tablist" style="margin-top: 20px">
    <li role="tab" aria-selected="true" data-tab="finished">Beendet</li>
    <li role="tab" aria-selected="false" data-tab="planned">Geplant / Noch nicht beendet</li>
</menu>
<div class="window tabpanel-container">
    <div id="finished" class="window-body tabpanel" role="tabpanel" aria-hidden="false">
        <div class="sunken-panel" style="width: 614px">
            <table style="width: 610px">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Platform</th>
                    <th>(Last) Played</th>
                    <th>Rating</th>
                </tr>
                </thead>
                <tbody>
                {% for post in games_finished %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.platform }}</td>
                        <td>{{ post.lastplayed | date: "%d.%m.%Y" }}</td>
                        <td>
                            {% for i in (1..5) %}
                                {% if i <= post.rating %}
                                    ★
                                {% else %}
                                    ☆
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="planned" class="window-body tabpanel" role="tabpanel" aria-hidden="true">
        <div class="sunken-panel" style="width: 614px">
            <table style="width: 610px">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Platform</th>
                </tr>
                </thead>
                <tbody>
                {% for post in games_planned %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.platform }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="{{ '/assets/js/menu-tabs.js' | relative_url }}"></script>