---
layout: default
---

<div style="text-align: center; margin-bottom: 10px">
    <img src="{{ "/assets/buttons/ban2.gif" | relative_url }}" alt="">
    <img src="{{ "/assets/buttons/higubanner.jpg" | relative_url }}" alt="">
    <img src="{{ "/assets/buttons/wired.gif" | relative_url }}" alt="">
</div>

<div class="sunken-panel"
     style="width: 200px; height: 200px; overflow: hidden; float: left; margin-right: 10px; margin-bottom: 10px;">
    <img src="https://avatars.githubusercontent.com/u/65507051?v=4" alt=""
         style="max-width: 200px">
</div>

{{ content }}

<div style="text-align: center; margin-bottom: 10px">
    <img src="{{ "/assets/gifs/const001.gif" | relative_url }}" alt="">
</div>