---
layout: default
---

<div class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    {{ content }}

    <!-- Posts List -->
    <div id="post-list">
        {% assign sorted_posts = site.misc | sort: "date" | reverse %}
        {% for post in sorted_posts %}
        <div class="post-item" data-category="{{ post.categories | join: ' ' }}"
             data-date="{{ post.date | date: '%Y' }}">
            <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
            <span class="post-meta">{{ post.date | date: "%B %d, %Y" }} * {{ post.categories }}</span>
            <p>{{ post.excerpt }}</p>
            <a href="{{ post.url | relative_url }}">Read more</a>
        </div>
        {% endfor %}
    </div>
</div>
