---
layout: default
---

{{ content }}

<menu role="tablist" id="tablist" style="margin-top: 20px">
    <li role="tab" aria-selected="true" data-tab="alphabetic">Alphabetisch</li>
    <li role="tab" aria-selected="false" data-tab="newest">Neueste</li>
</menu>
<div class="window tabpanel-container">
    <div id="alphabetic" class="window-body tabpanel" role="tabpanel" aria-hidden="false">
        {% assign music_posts = site.entries | sort: "title" | where: "category", "music" %}
        {% for post in music_posts %}
                {% assign youtube_url = post.ytlink %}
                {% assign video_id = youtube_url | split: "youtu.be/" | last %}
                {% assign video_id = video_id | split: "?" | first %}
                <fieldset>
                    <legend>{{ post.title }}</legend>
                    <div class="field-row">
                        <a href="{{ post.ytlink }}"><img src="https://img.youtube.com/vi/{{ video_id }}/mqdefault.jpg"
                                                         alt=""></a>
                    </div>
                </fieldset>
        {% endfor %}

    </div>
    <div id="newest" class="window-body tabpanel" role="tabpanel" aria-hidden="true">
        {% assign music_posts = site.entries | sort: "date" | reverse | where: "category", "music" %}
        {% for post in music_posts %}
            {% assign youtube_url = post.ytlink %}
            {% assign video_id = youtube_url | split: "youtu.be/" | last %}
            {% assign video_id = video_id | split: "?" | first %}
            <fieldset>
                <legend>{{ post.title }}</legend>
                <div class="field-row">
                    <a href="{{ post.ytlink }}"><img src="https://img.youtube.com/vi/{{ video_id }}/mqdefault.jpg"
                                                     alt=""></a>
                </div>
            </fieldset>
        {% endfor %}
    </div>
</div>

<script src="{{ '/assets/js/menu-tabs.js' | relative_url }}"></script>