---
layout: default
---

<div class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    {{ content }}

    <!-- Posts List -->
    <div id="post-list">
        {% assign music_posts = site.music | sort: "date" | reverse %}

        <ul class="video-list">

            {% for post in music_posts %}
            {% assign youtube_url = post.ytlink %}
            {% assign video_id = youtube_url | split: "youtu.be/" | last %}
            {% assign video_id = video_id | split: "?" | first %}

            <li class="video-item">
                <a href="{{ post.url | relative_url }}"><img src="https://img.youtube.com/vi/{{ video_id }}/mqdefault.jpg" alt=""></a>
                <a href="{{ post.url | relative_url }}"><h3>{{ post.title }}</h3></a>
            </li>

            {% endfor %}
        </ul>
    </div>
</div>
