---
layout: default
---

{{ content }}

{% assign vocaloid_entries = site.entries | where: "category", "vocaloids" %}
{% for entry in vocaloid_entries %}
    <fieldset class="shrine-field">
        <legend>{{ entry.title }}</legend>
        <div class="field-row">
            <div style="min-width: 220px; max-width: 220px; text-align: center">
                <img src="{{ '/assets/imgs/vocaloids/' | append: entry.title | downcase | replace: ' ', '_' | replace: '&', '' | replace: '__', '_' | append: '.webp' | relative_url }}"
                     alt="">
            </div>
            <p>
                {{ entry.content }}
            </p>
        </div>
    </fieldset>
{% endfor %}