---
layout: default
---

{{ content }}

<menu role="tablist" id="tablist" style="margin-top: 20px">
    <li role="tab" aria-selected="true" data-tab="characters">Favourite Vocaloids</li>
</menu>
<div class="window tabpanel-container">
    <div id="characters" class="window-body tabpanel" role="tabpanel" aria-hidden="false">
        {% assign vocaloid_entries = site.entries | where: "category", "vocaloids" %}
        {% for entry in vocaloid_entries %}
            {% assign entry_parts = entry.content | split: '<!--more-->' %}
            <fieldset class="shrine-field">
                <legend>{{ entry.title }}</legend>
                <div class="field-row">
                    <div style="min-width: 220px; max-width: 220px; text-align: center">
                        <img src="{{ '/assets/imgs/vocaloids/' | append: entry.title | downcase | replace: ' ', '_' | replace: '&', '' | replace: '__', '_' | append: '.webp' | relative_url }}"
                             alt="">
                    </div>
                    <p style="max-width: 230px">{{ entry_parts[0] }}</p>
                    <p>{{ entry_parts[1] }}</p>
                </div>
            </fieldset>
        {% endfor %}
    </div>
</div>

<script src="{{ '/assets/js/menu-tabs.js' | relative_url }}"></script>