---
layout: default
---

{{ content }}

<menu role="tablist" id="tablist" style="margin-top: 20px">
    <li role="tab" aria-selected="true" data-tab="characters">Favourite Vocaloids</li>
</menu>
<div class="window tabpanel-container">
    <div id="characters" class="window-body tabpanel" role="tabpanel" aria-hidden="false"
         style="height: 600px; overflow-y: scroll">
        {% assign vocaloid_entries = site.entries | where: "category", "vocaloids" %}
        {% for entry in vocaloid_entries %}
            <fieldset class="shrine-field">
                <legend>{{ entry.title }}</legend>
                <div class="field-row">
                    <div style="min-width: 220px; max-width: 220px; text-align: center">
                        <img src="{{ '/assets/imgs/vocaloids/' | append: entry.title | downcase | replace: ' ', '_' | replace: '&', '' | replace: '__', '_' | append: '.webp' | relative_url }}"
                             alt="">
                    </div>
                    <p>
                        {{ entry.content }}
                    </p>
                </div>
            </fieldset>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const tabs = document.querySelectorAll('[role="tab"]');
        const panels = document.querySelectorAll('.tabpanel');

        tabs.forEach((tab) => {
            tab.addEventListener("click", () => {
                tabs.forEach((t) => t.setAttribute("aria-selected", "false"));
                panels.forEach((p) => p.setAttribute("aria-hidden", "true"));

                tab.setAttribute("aria-selected", "true");
                const tabId = tab.getAttribute("data-tab");
                document.getElementById(tabId).setAttribute("aria-hidden", "false");
            });
        });
    });
</script>